# Core functionality - changes here should be rare!
/src/app.py                   @jabruder
/src/backend/database.py      @jabruder
/src/backend/routers/auth.py  @jabruder

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jabruder
